<?xml version="1.0" encoding="utf-8" ?>
<ReportingConfiguration>
	<Extensions>
		<Data>
			<Extension Name="CustomCSV" 
              DisplayName="CSV Data Provider" 
              Type="GrapeCity.ActiveReports.Samples.CustomDataProvider.CSVDataProvider.CsvDataProviderFactory,CustomDataProvider, version=0.0.0.0, Culture=neutral" 
			  CommandTextEditorType="GrapeCity.ActiveReports.Samples.CustomDataProviderUI.QueryEditor,CustomDataProviderUI, Version=1.0.0.0, Culture=neutral"
            />
			<Extension Name="SQLITE" Type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"
					   DisplayName="Sqlite Provider" />
		</Data>
	</Extensions>
	<ReportTypes>
		<ReportType Name ="RdlMultiSection"/>
		<ReportType Name ="Page"/>
	</ReportTypes>
</ReportingConfiguration>

